:root {
    --background-color: #081c29fd;
    --nice-blue: #03aaef;
    --text-color: #eeeeee
}

body {
    background-color: var(--background-color);
    font-family: DM Sans;
    font-size: large;
    font-weight: 700;
}


.push-right {
    margin-left: auto;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin-left: 50px;
    color: var(--text-color);
    transition: all 0.3s;
    animation: 1.5s ease-out 0s 1 slideFromTop;
}

.navbar-title {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: var(--text-color);
    font-family: 'Open Sans';
    font-size: larger;
    transition: all 0.3s;
    animation: 2.5s ease-out 0s 1 slideFromTop;
}
.navbar-title:hover{
    color: var(--nice-blue);
}

.navbar-button {
    display: flex;
    margin-right: 50px;
    font-family: 'Open Sans';
    color: var(--text-color);
    transition: all 0.3s;
    animation: 2s ease-out 0 1 slideFromTop;
}
.navbar-button:hover {
    color: var(--nice-blue);
}

.navbar-clicked {
    color: var(--nice-blue);
}



.content {
    display: flex;
    flex-direction: column;
    margin-top: 35vh;
    margin-left: 95px;
    max-width: 75%;
    width: fit-content;
    color: var(--text-color);
}

.content-title {
    display: flex;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: .025rem;
    animation: 1.70s ease-out 0s 1 slideFromLeft;

}

.content-hobby {
    display: flex;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bolder;
    color: var(--nice-blue);
    letter-spacing: .025rem;
    animation: 1.8s ease-out 0s 1 slideFromLeft;
}

.content-bio {
    display: flex;
    font-family: DM Sans,sans-serif;
    color: var(--text-color);
    animation: 1.9s ease-out 0s 1 slideFromLeft;
}



@keyframes slideFromLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateX(0);
    }
}



@media only screen and (max-width: 840px) {
    .navbar {
        display: none;
    }
}