body {
    background-color: #181926;
    font-family: 'Open Sans';
    font-weight: bold;
}
.navbar-container {
    display: flex;
    justify-content: center;
    background-color: #24273a;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 5;
}
.navbar-projects {
    display: flex;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.navbar-projects:hover {
    background-color: #363a4f;
    flex-grow: 0.1;
    margin-right: 5px;
}
.navbar-about {
    display: flex;
    width: 100px;
    height: 60px;
    background-color: #363a4f;
    border-radius: 8px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.navbar-about:hover {
    background-color: #363a4f;
    flex-grow: 0.1;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-contacts {
    display: flex;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.navbar-contacts:hover {
    background-color: #363a4f;
    flex-grow: 0.1;
    margin-left: 5px;
}
.container {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    left: 0;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px;

    background-color: #24273a;
    border-radius: 8px;
    margin-bottom: 190px;
}
.profile-pfp {
    display: flex;

    justify-content: space-around;
    content: url(assets/Untitled.png);
}
.profile-name {
    display: flex;
    color: aliceblue;
    padding: 10px;
    font-size: 50px;
    font-weight: 600;
}
.profile-hobby {
    display: flex;
    color: rgb(141, 141, 141);
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
}
.history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 250px;
    background-color: #363a4f;
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    transition: all 0.3s;
    border-radius: 15px;
    color: aliceblue;
}
.solarinfo {
    display: flex;
    color: aliceblue;
    font-weight: normal;
    flex-direction: column;
    align-items: center;
    background-color: #24273a;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
}
.solarinfo li:hover {
    text-decoration: underline;
}
.history-solar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    font-weight: normal;
    margin-left: 30px;
}
.hybrisinfo {
    display: flex;
    color: aliceblue;
    font-weight: normal;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #24273a;
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;
}
.hybrisinfo li:hover {
    text-decoration: underline;
}
.history-hybris {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    font-weight: normal;
    padding: 5px;
    margin-left: 30px;
}
.about-container {
    display: flex;
    align-self: flex-end;
    justify-content: end;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    background-color: #363a4f;
    margin: auto;
    margin-top: 25px;
    margin-right: 25px;
    transition: all 0.3s;
    border-radius: 15px;
    color: aliceblue;
    left: 0;
}
.about-text {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    color: aliceblue;
    font-weight: normal;
}
.more-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(7px);
    right: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.more-solarinfo {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    background-color: #363a4f;
    padding: 50px;
    border-radius: 15px;
    color: aliceblue;
    flex-direction: column;
    margin: auto;
}
.more-solarinfo-icon {
    display: flex;
    content: url(assets/solarlogo.png);
}
.more-solarinfo-name {
    display: flex;
    color: aliceblue;
    font-weight: 600;
    font-size: 50px;
}
.more-solarinfo-about {
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.more-hybrisinfo {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    background-color: #363a4f;
    padding: 50px;
    border-radius: 15px;
    color: aliceblue;
    flex-direction: column;
    margin: auto;
}
.more-hybrisinfo-icon {
    display: flex;
    content: url(assets/hybrislogo.png);
}
.more-hybrisinfo-name {
    display: flex;
    color: aliceblue;
    font-weight: 600;
    font-size: 50px;
}
.more-hybrisinfo-about {
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

@media only screen and (max-width: 1200px) {
    .history-container {
        opacity: 0;
        visibility: hidden;
    }
    .about-container {
        opacity: 0;
        visibility: hidden;
    }
}